﻿
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../Content/images/banner1.jpg" alt="">
        </div>

        <div class="item">
            <img src="../Content/images/banner2.jpg" alt="">
        </div>

        <div class="item">
            <img src="../Content/images/banner3.jpg" alt="">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

        <div class="grids_1_of_3">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/images/icon1.jpg">
                <h3> kütüphane ne zamana kadar kitap verir.</h3>
                <p> kütüphane öğrenci okulu bitirene kadar kitap verir ama öğrenciliği bittiğinde kitabı vermez çünkü artık kütüphaneyle ilişkisi kalmaz.</p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/images/icon2.jpg">
                <h3>kütüphane kimlere kitap verir.</h3>
                <p>kütüphane sadece öğrenci olana kitap verir başkalarına vermez.</p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="~/Content/images/icon3.jpg">
                <h3>kütüphane ne zaman kitabı iade alır.</h3>
                <p>kütüphane öğrenci işini bitirdikten sonraiade ister ama buna 1 ay gibi bir müddet verilebilir .</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="container">
    <!--footer-->
    <div class="footer-bg">
        <div class="wrap">
            <div class="footer">
                <div class="box1">
                    <h4 class="btm">eğitim için neler yapmalıyız</h4>
                    <p> kütüphanemizde her gün güzel bir biçimde eğitim alıp kendini doğru bilim üzerine geliştiren arkadaşları canı gönülden tebrik ediyorum ve başarılarının devamını diliyorum .</p>
                    <p> bugün mezun olanlar bu kütüphanede okudu ve kendini geliştirdi bunu iyi bir şekilde değerlendiren başarılı öğrenciler kendi hayatlarını ve ailelerinin hayatlarınıda kurtarmış oldular.</p>
                </div>
                <div class="box1">
                    <h4 class="btm">Kategorilerimiz</h4>
                    <nav>
                        <ul>
                            <li><a href="">bizde bircok kitap olduğu gibi kitapları doğru bir biçimde sıralanmiştır.  </a></li>
                            <li><a href="">bu kitaplardan bazıları geçici yayınlarımız.</a></li>
                            <li><a href="">bu kitapların bazıları ise tarih anlatan bir arşiv.</a></li>
                            <li><a href="">bu kitapların bazıları ise spor yayınları. </a></li>
                            <li><a href="">bu kitapların bazıları ise dini bilgi anlatım. </a></li>
                            <li><a href="">bu kitapların bazıları ise magazin dergileri gecici. </a></li>
                            <li><a href="">bu kitapların bazıları ise atatürkün gençliğini anlatan kitaplar.  </a></li>
                        </ul>
                    </nav>
                </div>
                <div class="box1">
                    <h4 class="btm">Her zaman bizimle iletişimde olun.</h4>
                    <div class="box1_address">
                        <p>iletişimde olmak her zaman fayda sağlar.</p>
                        <p>insanlar kendilerini daha iyi bir şekilde geliştirebilir.</p>
                        <p>başarı elde eder.</p>
                        <p>Phone:05348330165</p>
                        <p>Fax: (000) 000 00 00 0</p>
                        <p>Email: <span>mushac.19@gmail.com</span></p>
                        <p>Follow on: <span>Facebook</span>, <span>Twitter</span></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--main-->
        <div class="main_bg">
            <div class="wrap">
                <div class="main">

                </div>
            </div>
            <div class="main_btm">
                <div class="wrap">
                    <div class="main">
                        <div class="gallery">
                            <h3>En son projelerimiz.</h3>
                            <ul>
                                <li><a href="~/Content/images/gallery1.jpg"><img src="~/Content/images/gallery1.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery2.jpg"><img src="~/Content/images/gallery2.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery3.jpg"><img src="~/Content/images/gallery3.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery4.jpg"><img src="~/Content/images/gallery4.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery4.jpg"><img src="~/Content/images/gallery4.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery3.jpg"><img src="~/Content/images/gallery3.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery5.jpg"><img src="~/Content/images/gallery5.jpg" alt=""></a><a href="#"></a></li>
                                <li><a href="~/Content/images/gallery6.jpg"><img src="~/Content/images/gallery6.jpg" alt=""></a><a href="#"></a></li>
                            </ul>
                        </div>
                        <script type="text/javascript" src="js/jquery.lightbox.js"></script>
                        <link rel="stylesheet" type="text/css" href="css/lightbox.css" media="screen">
                        <script type="text/javascript">
                            $(function () {
                                $('.gallery a').lightBox();
                            });
                        </script>
                        <div class="terminals">
                            <h3>Görüşler</h3>
                            <p> yayınlarınız cok güzel ama yayın süreleri bu kadar kısa olmasaydı daha iyi olurdu.</p>
                            <p> kitaplarıniz cok güzel ve faydalı bu kütüphaneyi cok seviyorum. </p>
                            <span><a href="#">- başa git</a> USA.</span>
                        </div>
                        <div class="clear"> </div>
                    </div>
                </div>
            </div>
