﻿<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Kütüphanemize Hoşgeldiniz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--slider-->
    <link href="~/Content/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</head>
<body>
    <div class="btm_border">
        <div class="h_bg">
            <div class="wrap">
                <div class="header">
                    <div class="logo">
                        <h1><a href="index.html"><img src="~/Content/images/logom.jpg" alt=""></a></h1>
                    </div>
                    <div class="social-icons">
                        <ul>
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"> </a></li>
                            <li><a class="twitter" href="https://twitter.com/" target="_blank"></a></li>

                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class='h_btm'>
                    <div class='cssmenu'>
                        <ul>
                            <li class='active'><a href='index.html'><span>Ana sayfa</span></a></li>
                            <li><a href='about.html'><span>Hakkında</span></a></li>
                            <li><a href='staff.html'><span>Personel</span></a></li>
                            <li class='has-sub'><a href='service.html'><span>Hizmetler</span></a></li>
                            <li class='last'><a href='contact.html'><span>Yeni Kayit</span></a></li>

                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="search">
                        <form>
                            <input type="text" value="">
                            <input type="submit" value="">
                        </form>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()


        <!--footer1-->
        <div class="ftr-bg">
            <div class="wrap">  
                <div class="footer">
                    <div class="copy">
                        <p class="w3-link">© All Rights Reserved | Design by&nbsp; Mustafa Hacıibrahim</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
     </div>
</body>
</html>